[defaults]
collections_paths=/home/student/mycollections:/usr/share/ansible/collections
roles_path=/home/student/roles
inventory=./inventory
remote_user=devops
ask_pass=false

[privilege_escalation]
become=true
become_user=root
become_method=sudo
become_ask_pass=false

[galaxy]
server_list = rh-certified_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=b43102c17ab184040b98287a54a257ea65c06ff3
